/* Body */
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0px;
    min-height: 100vh;

    background-color:#f5f0e1;
    color:white;

    font-family: 'Bebas Neue';font-size: 22px;
}


/* Header */
#header{
    height:75px;
    margin:10px 0px 0px 0px;

    background-color: #1e3d59;
}


/* Content */
#content{
    padding: 0px 50px;
    flex-grow: 2;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:50px;
}

#controls > div{
    background-color: #ff6e40;
    padding:10px;

    border: 5px #1e3d59 solid ;
    border-radius: 5px;

    margin:5px;
}

#colorMode{
    display: flex;
    flex-direction: row;
    gap:10px;
}

#range{
    display: flex;
    flex-direction: column;
    gap:10px;
}

#toggleGrid{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

/*Toggle switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*Table*/
table, th, td{
    box-sizing: border-box;
    border: 0px solid #f5f0e1;
    border-collapse: collapse;    
}

th,td {
    background-color: white;
}

td{
    border:1px solid black;
}


/* Footer. */
#footer{
    box-sizing: border-box;
    height: 75px;
    padding: 10px;

    background-color: #1e3d59;
}


/* Misc. */
.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.test{
    border:5px solid black;
}
