/* Body */
body{
    display: flex;
    flex-direction: column;

    margin: 0px;
    min-height: 100vh;

    background-color:#f5f0e1;
    color:white;

    font-family: 'Bebas Neue';font-size: 22px;
}


/* Title */
#title{
    height:5vh;
    margin:10px 0px 0px 0px;

    background-color: #1e3d59;
}


/* Content */
#content{
    flex-grow: 1;

    padding:30px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch; 
}


/* Footer. */
#footer{
    box-sizing: border-box;
    height: 5vh;
    padding: 10px;

    background-color: #1e3d59;
}


/* Misc. */
.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.testcolor{
    background-color: #ff6e40;

    border:5px solid black;
}