/* Body */
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0px;
    min-height: 100vh;

    background-color:#f5f0e1;
    color:white;

    font-family: 'Bebas Neue';font-size: 22px;
}


/* Header */
#header{
    height:75px;
    margin:10px 0px 0px 0px;

    background-color: #1e3d59;
}


/* Content */
#content{
    padding: 0px 50px;
    flex-grow: 2;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:50px;
}

#controls > div{
    background-color: #ff6e40;
    padding:10px;

    border: 5px #1e3d59 solid ;
    border-radius: 5px;

    margin:5px;
}

#colorMode{
    display: flex;
    flex-direction: row;
    gap:10px;
}

#range{
    display: flex;
    flex-direction: column;
    gap:10px;
}

/*Table*/
table, th, td{
    box-sizing: border-box;
    border: 0px solid #f5f0e1;
    border-collapse: collapse;    
}

th,td {
    background-color: white;
}

td{
    border:1px solid black;
}


/* Footer. */
#footer{
    box-sizing: border-box;
    height: 75px;
    padding: 10px;

    background-color: #1e3d59;
}


/* Misc. */
.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.test{
    border:5px solid black;
}
